h1{
    color: rgb(129, 114, 93);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Rooms{
    width: 500px;
    height: 600px;
    background-color: gray;
    position: relative;
    align-items: center;
}

.room_buttons{
    position: absolute;
    bottom: 0;
}